<a href="https://colab.research.google.com/github/Santosds/Aprendendo-HTML-5/blob/master/Amostragem_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importando os pacotes Pandas e Seaborn
import pandas as pd
import seaborn as sns

In [2]:
#Carregando um DataSet para exemplo
iris = sns.load_dataset('iris')

In [3]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

##Amostragem aleatória simples

In [4]:
#Especificando amostra a partir de quantidade
df_amostra_simples = iris.sample(n=10)

In [5]:
df_amostra_simples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 88 to 2
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  10 non-null     float64
 1   sepal_width   10 non-null     float64
 2   petal_length  10 non-null     float64
 3   petal_width   10 non-null     float64
 4   species       10 non-null     object
dtypes: float64(4), object(1)
memory usage: 480.0+ bytes

In [6]:
df_amostra_simples['species'].value_counts()

species
setosa        4
versicolor    3
virginica     3
Name: count, dtype: int64

In [7]:
#Especificando amostra através do percentual
df_amostra_simples_percentual = iris.sample(frac=0.10)

In [8]:
df_amostra_simples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 88 to 2
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  10 non-null     float64
 1   sepal_width   10 non-null     float64
 2   petal_length  10 non-null     float64
 3   petal_width   10 non-null     float64
 4   species       10 non-null     object
dtypes: float64(4), object(1)
memory usage: 480.0+ bytes

In [9]:
df_amostra_simples['species'].value_counts()

species
setosa        4
versicolor    3
virginica     3
Name: count, dtype: int64