<a href="https://colab.research.google.com/github/Santosds/Aprendendo-HTML-5/blob/master/Nomea%C3%A7%C3%A3o_de_Vari%C3%A1veis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5º Nomeação de variáveis <p>
Podemos nomear variáveis e tipos de dados de diversas formas:
1. Declarar as variáveis em uma única linha de comando;
2. Atribuir um valor à diversas variáveis;
3. Declarar usando uma Lista;
4. Combinar variáveis;
5. Operar com operadores matemáticos;
6. Muitos outros.

In [1]:
# Exemplo 1 - Declarando as variáveis em uma única linha de comando

Laranja, Melao, Uva = 1, 2, 3

print(Laranja, Melao, Uva)

1 2 3

In [2]:
# segundo Exemplo - Atribuindo um valor para várias variáveis

Romeu = Filho = Neto = 1000

print(Romeu, Filho, Neto)

1000 1000 1000

In [6]:
# terceiro Exemplo - Declarar utilizando uma lista

Carros = ['Bmw', 'Audi', 'Tessla', 'Jaguar']

print(Carros)

['Bmw', 'Audi', 'Tessla', 'Jaguar']

In [8]:
# quarto Exemplo - combinando variaveis com a lista

marca_01, marca_02, marca_03, marca_04 = Carros

print(marca_02)

Audi

In [9]:
# outras combinações

Nome = 'Antuan'

Sobrenome = 'Santos'
nome_completo = Nome + ' ' + Sobrenome

print(nome_completo)

Antuan Santos

In [16]:
# Experimento

Nome = 'Querubim '
Idade = str(1000000000)

Nome + Idade + ' anos'

'Querubim 1000000000 anos'

In [22]:
# Operadores matemáticos

Investimento = 500
Taxa_de_juros = float('0.2')

Investimento * Taxa_de_juros

print(Investimento * Taxa_de_juros)
Valor_ganho = Investimento * Taxa_de_juros + Investimento
print(Valor_ganho)

100.0
600.0