<a href="https://colab.research.google.com/github/Santosds/Aprendendo-HTML-5/blob/master/Tipos_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Dados

* Listas - são criados utilizando [colchete] - serve para armazenar e manipular uma coleção de itens de forma organizada.

* Tuplas - são criados utilizando (parentese) - serve para armazenar um conjunto de elementos de forma ordenada e imutável.

* Dicionários - são criados utilizando {chaves} - serve para armazenar e organizar dados de forma eficiente, permitindo que você acesse e manipule informações de forma intuitiva.

In [6]:
# listas

Lista_exemplo_01 = [1, 2, 3, 4, 5]
Lista_exemplo_02 = ['melancia', 'Raposa', 'Idade', 4, 5]
Lista_exemplo_03 = [True, False, 1, 'quatro']

In [7]:
print (Lista_exemplo_01)
print (Lista_exemplo_02)
print (Lista_exemplo_03)

[1, 2, 3, 4, 5]
['melancia', 'Raposa', 'Idade', 4, 5]
[True, False, 1, 'quatro']

In [8]:
# tuplas - os dados armazenados não podem ser alterados

tuplas_exemplo_01 = ( 1, 2, 3, 4, 5)
tuplas_exemplo_02 = ('melancia', 'Raposa', 'Idade', 4, 5)
tuplas_exemplo_03 = (True, False, 1, 'quatro')

In [9]:
print (tuplas_exemplo_01)
print (tuplas_exemplo_02)
print (tuplas_exemplo_03)

(1, 2, 3, 4, 5)
('melancia', 'Raposa', 'Idade', 4, 5)
(True, False, 1, 'quatro')

In [10]:
# dicionário

dicionario_exemplo_01 = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}
dicionario_exemplo_02 = {'nome': 'Maria', 'idade': 25, 'cidade': 'Rio de Janeiro'}
dicionario_exemplo_03 = {'id': 451, 'id': 384}

print (dicionario_exemplo_01)
print (dicionario_exemplo_02)
print (dicionario_exemplo_03)

{'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}
{'nome': 'Maria', 'idade': 25, 'cidade': 'Rio de Janeiro'}
{'id': 384}